@import 'fonts';
/* general styles */
body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.base-color {
  color: #58C8AB;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1050px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-family: 'ralewaybold';
}

.section-title {
  border-bottom: 7px solid #58C8AB;
  width: 315px;
  font-size: 1.5em;
  padding-bottom: 7px;
}
/* .navigation styles */
.nav {
  height: 40px;
  background-color: black;
  color: white;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-menu {
  &__item {
    float: left;
    width: 150px;
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    text-align: center;

    &:hover {
      background-color: #58C8AB;
    }

    &:hover > a {
      color: #000;
    }

    &:hover .nav-menu__hidden {
      display: block;
    }

    & a {
      color: #fff;
      text-decoration: none;
      display: block;
    }
  }

  &__hidden {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: none;
    position: relative;
  }

  &__hidden-item {
    background-color: #58C8AB;
    border-top: 1px solid #FAFAFA;
  }

  &__hidden-item:hover a {
    color: #000;
  }
}
/* .header styles */
.header {
  height: 490px;
  display: flex;
  align-items: center;
  align-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+27,efefef+73,e8e8e8+81,e0e0e0+91,cfced8+100 */
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 27%, #efefef 73%, #e8e8e8 81%, #e0e0e0 91%, #cfced8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 27%, #efefef 73%, #e8e8e8 81%, #e0e0e0 91%, #cfced8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 27%, #efefef 73%, #e8e8e8 81%, #e0e0e0 91%, #cfced8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#fafafa', endColorstr='#cfced8', GradientType=0);
  /* IE6-9 */
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__description {
    width: 500px;
    text-align: center;
    margin: 125px 40px 110px 20px;

    & h1 {
      font-size: 2.9em;
    }

    & p {
      margin: 45px 0;
    }
  }

  &__button {
    font-size: 1.5em;
    padding: 15px 45px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #58C8AB;
  }

  &__item-photo {
    background-image: url("../images/black_chair.png");
    height: 400px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__arrow {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 30px solid #58C8AB;
    margin: 0;
    padding: 0;
    float: left;
    top: 200px;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top: 30px solid #F5F5F5;
      display: inline-block;
      left: 20px;
      top: 15px;
      -webkit-transform: translate(-40px, -50px);
      position: absolute;
    }

    &.arrow-left {
      transform: rotate(90deg) translate(0px, 25px);
      -webkit-transform: rotate(90deg) translate(0px, 25px);
      -moz-transform: rotate(90deg) translate(0px, 25px);
      -o-transform: rotate(90deg) translate(0px, 25px);
      -ms-transform: rotate(90deg) translate(0px, 25px);
    }

    &.arrow-right {
      transform: rotate(270deg) translate(0px, 25px);
      -webkit-transform: rotate(270deg) translate(0px, 25px);
      -moz-transform: rotate(270deg) translate(0px, 25px);
      -o-transform: rotate(270deg) translate(0px, 25px);
      -ms-transform: rotate(270deg) translate(0px, 25px);
    }
  }
}
/* items section */
.items-section {
  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 25px 0 55px;
  }

  &__item {
    height: 220px;
    width: 320px;
  }

  &__item-name {
    width: 320px;
    height: 60px;
    background-color: white;
    filter: opacity(30%);
    margin-top: 150px;
    padding: 10px;
    position: absolute;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--clair {
      background-image: url("../images/box1_img.jpg");
    }

    &--margarita {
      background-image: url("../images/box2_img.jpg");
    }

    p {
      position: relative;
      top: 160px;
      left: 15px;
      font-size: 1.1em;
    }
  }

  &__note {
    height: 252px;
    width: 338px;
    border: 1px solid #747474;
    padding: 20px;

    p {
      margin-bottom: 15px;
      color: #646464;
    }

    &--underlined {
      border-bottom: 5px solid #58C8AB;
      width: 140px;
    }
  }
}
/* offers section styles */
.offers-section {
  padding: 50px 0;
  background-color: #F1F1F1;

  &__container {
    padding: 70px 0 0;
    display: flex;
    justify-content: space-between;
  }
}

.offer {
  height: 480px;
  width: 320px;
  border: 1px solid #C2C2C2;
  background-color: #F9F9F9;

  &--standard {
    background-color: #58C8AB;
  }

  a,
  h3,
  p {
    text-align: center;
  }

  &__outer-dot {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #C2C2C2;
    background-color: white;
    margin: -35px auto -15px;

    &--standard {
      background-color: #58C8AB;
      border: 1px solid #58C8AB;
    }
  }

  &__inner-dot {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #C2C2C2;
    margin: 11px auto;

    &--standard {
      background-color: #fff;
    }
  }

  &__price {
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    height: 125px;
    width: 125px;
    margin: 25px auto 35px;
    color: #C2C2C2;
    background-color: #fff;

    &--standard {
      color: #58C8AB;
      border: 2px solid #58C8AB;
    }
  }

  &__plan-name {
    margin-top: 30px;
    font-size: 1.5em;
    color: #58C8AB;

    &--standard {
      color: white;
    }
  }

  &__included {
    height: 185px;
    width: 100%;

    p {
      width: 100%;
      height: 40px;
      padding: 10px;
      font-size: 1.5em;
      color: #9b9999;
    }

    p:nth-child(2n+1) {
      background-color: #E4E4E4;
    }

    p:nth-child(2n+2) {
      background-color: #F1F1F1;
    }

    &--standard {
      p:nth-child(2n+1) {
        background-color: #fff;
      }
    }
  }

  &__price {
    p:first-child {
      margin-top: 15px;
      margin-bottom: 30px;

      span {
        font-size: 3.8em;
        margin-left: 10px;
        position: relative;
        top: 25px;
      }
    }

    p:last-child {
      font-size: 1.2em;
    }
  }

  &__button-join {
    display: block;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    text-decoration: none;
    background-color: #58C8AB;
    color: #fff;

    &--standard{
      background-color: #fff;
      color: #58C8AB;
    }
  }
}
//
//
//
// /*.standard offer*/
//
// .standard {
//   height: 100%;
// }
//
// .offer .standard {
//   border: 1px solid #58C8AB;
//   background-color: #58C8AB;
// }
//
// .standard .outer-dot {
//   border: 1px solid #58C8AB;
//   background-color: #58C8AB;
// }
//
// .standard .inner-dot {
//   background-color: white;
// }
//
// .standard .price {
//   border-radius: 50%;
//   border: 1px solid #58C8AB;
//   color: #58C8AB;
//   background-color: white;
// }
//
// .standard .button-join {
//   background-color: white;
//   text-decoration: none;
//   color: #58C8AB;
//   bottom: 0;
// }
//
// .offer .standard h3 {
//   color: white;
// }
//
// .standard .included p:nth-child(2n+1) {
//   background-color: white;
// }
//
// /* form styles */
//
// #contact {
//   height: 550px;
//   padding: 50px;
// }
//
// div[class*="form"] {
//   display: flex;
// }
//
// .form-left, .form-right {
//   flex-direction: column;
// }
//
// .form-left {
//   width: 620px;
//   padding: 30px 0;
// }
//
// .form-right {
//   margin: 0 0 0 50px;
// }
//
// input {
//   height: 65px;
// }
//
// input, #message {
//   width: 100%;
//   margin: 10px 0;
//   border: 1px solid #9b9999;
//   outline: none;
//   padding: 20px;
//   font-size: 1.5em;
//   font-family: 'ralewaythin', 'Arial', sans-serif;
//   letter-spacing: 0.05em;
// }
//
// #message {
//   height: 200px;
//   resize: none;
//   overflow: auto;
//   scroll-behavior: smooth;
// }
//
// input:focus, #message:focus, input:valid, #message:valid{
//   border: 1px solid #58C8AB;
// }
//
// label{
//   font-family: 'ralewaythin', 'Arial', sans-serif;
//   letter-spacing: 0.05em;
//   font-size: 2em;
//   color: #9b9999;
//   position: absolute;
// }
//
//
// /* adaptive placeholder */
//
// .for-group {
//   position: relative;
// }
//
// .for-control-placeholder {
//   font-size: 2em;
//   position: absolute;
//   top: 30px;
//   left: 10px;
//   transition: all 350ms ease;
//   opacity: 0.3;
// }
//
// .for-control:focus + .for-control-placeholder,
// .for-control:valid + .for-control-placeholder {
//   position: absolute;
//   transform: translate3d(5px, -35px, 0);
//   font-size: 1.5em;
//   opacity: 1;
//   padding:3px;
//   background-color: white;
// }
//
// /* right side of form styles */
//
// .red-chair {
//   height: 265px;
//   width: 300px;
//   background-image: url('../images/red_chair.png');
//   background-repeat: no-repeat;
//   background-position: center;
// }
//
// /* chcekbox styles */
//
// .checkbox {
//   display: flex;
//   align-items: center;
// }
//
// input[type=checkbox] {
//   width: 50px;
//   height: 50px;
//   padding: 20px;
// }
//
// .checkbox input {
//   box-sizing: border-box;
//   margin: 0;
//   outline: none;
//   display: none;
// }
//
// .checkbox input+label {
//   width: 350px;
//   display: inline-block;
//   cursor: pointer;
//   position: relative;
//   left: 0;
//   padding: 10px 10px 10px 60px;
//   min-height: 44px;
//   background-color: transparent;
//   color: #9b9999;
//   font-family: 'ralewaythin', 'Arial', sans-serif;
//   font-size: 1.4em;
//   transition: all 200ms ease;
// }
//
// .checkbox input+label::before {
//   content: "";
//   width: 44px;
//   height: 44px;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   color: #fff;
//   transform: translateY(-50%);
//   border: 1px solid #9b9999;
//   box-sizing: border-box;
//   transition: all 200ms ease;
// }
//
// .checkbox input:checked+label::before {
//   background-image: url('../images/form_ok.jpg');
//   background-size: 40px;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: 1px solid #58C8AB;
// }
//
// .submit-button {
//   width: 350px;
//   background-color: #58C8AB;
//   color: white;
//   font-family: 'Raleway', 'Arial', sans-serif;
//   font-size: 2em;
//   border-radius: 10px;
//   margin-top: 20px;
// }
//
// /* footer styles */
//
// footer {
//   color: #9b9999;
// }
//
// footer .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px 0 30px;
// }
//
// .footer-left {
//   letter-spacing: 0.2em;
// }
//
// .footer-right {
//   display: flex;
//   font-size: 1.5em;
//   align-items: center;
// }
//
// .icons {
//   margin-right: 75px;
// }
