$base-color: #58C8AB;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+27,efefef+73,e8e8e8+81,e0e0e0+91,cfced8+100 */
$header-gradient-from:#fafafa;
$header-gradient-to:#cfced8;
$header-gradient-colors: top, #fafafa 27%, #efefef 73%, #e8e8e8 81%, #e0e0e0 91%, #cfced8 100%;
