.header {
  @include gradient($header-gradient-colors, $header-gradient-from, $header-gradient-to);

  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    @media only screen and (min-width: 63rem) {
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  &__description {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    @media only screen and (min-width: 63rem) {
      padding: 8rem 2rem 6rem;
    }

    & h1 {
      font-size: 2.5rem;
      line-height: normal;
    }

    & p {
      padding: 3rem 0;
    }
  }

  &__button {
    font-size: 1.5em;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
    background-color: $base-color;
  }

  &__item-photo {
    background-image: url("../images/black_chair.png");
    height: 25rem;
    width: 22rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    @media only screen and (min-width: 63rem) {
      margin-top: 4rem;
    }
  }
  @media only screen and (min-width: 63rem) {
    &__arrow {
      width: 0;
      height: 0;
      border: 1.25rem solid transparent;
      border-top: 2rem solid $base-color;
      margin: 0;
      padding: 0;
      float: left;
      top: 15rem;
      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border: 1.25rem solid transparent;
        border-top: 2rem solid #F5F5F5;
        display: inline-block;
        left: 1.25rem;
        top: 1rem;
        -webkit-transform: translate(-2.5rem, -3.25rem);
        position: absolute;
      }

      &.arrow-left {
        @include arrow-direction(90deg);
      }

      &.arrow-right {
        @include arrow-direction(270deg);
      }
    }
  }
}
