.items-section {
  &__container {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 63rem) {
      padding: 2rem 0;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__item {
    height: 14rem;
    width: 20rem;
    margin: 1rem auto;
    @media only screen and (min-width: 63rem) {
      margin: 0 auto;
    }
  }

  &__item-name {
    width: 20rem;
    height: 4rem;
    background-color: white;
    filter: opacity(30%);
    margin-top: 9rem;
    padding: 0.5rem;
    position: absolute;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--clair {
      background-image: url("../images/box1_img.jpg");
    }

    &--margarita {
      background-image: url("../images/box2_img.jpg");
    }

    p {
      position: relative;
      top: 10rem;
      left: 1rem;
      font-size: 1rem;
    }
  }

  &__note {
    height: 15rem;
    width: 20rem;
    border: 1px solid #747474;
    padding: 1.5rem;
    margin: 1rem auto;
    @media only screen and (min-width: 63rem) {
      width: 21rem;
      margin: auto;
    }

    p {
      margin-bottom: 1rem;
      color: #646464;
    }

    &--underlined {
      border-bottom: 0.25rem solid $base-color;
      width: 8.5rem;
    }
  }
}
