.order-summ{
  margin: auto;
}
.order-form {
  background-color: #F1F1F1;
  padding: 1.5rem;
}

.order-form__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  @media only screen and (min-width: 63rem) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.order-choice__order-img {
  height: 17rem;
  width: 19rem;
  margin: auto;
  background-image: url("../images/red_chair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.order-choice__options {
  display: flex;
  width: 21.875rem;
  margin: 0.5rem auto;
  font-size: 1.5em;
  font-family: 'ralewaythin', 'Arial', sans-serif;
  letter-spacing: 0.05em;
}

.order-choice__transport{
  margin: 1rem auto;
  max-width: 22rem;
}

.order-table {
  box-sizing: border-box;
  font-size: 1.5em;
  color: #9b9999;
  background-color: #fff;
  width: 22rem;
  height: 19rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1.5rem auto;

  &__cost {
    border-left: 1px solid #9b9999;
    width: 5rem;
    color: $base-color;
    padding: 0.5rem;
    text-align: center;
  }

  &__left {
    padding: 0.5rem;
  }

  &__specifies {
    height: 80%;
  }

  &__chair-type {
    display: flex;
    justify-content: space-between;

    &--name {
      height: 25%;
      color: $base-color;
    }

    &--meterial {
      height: 80%;
    }

    &--summ {
      height: 25%;
      display: flex;
      justify-content: space-between;
      height: 20%;
      border-top: 1px solid #9b9999;
    }
  }
}
