/* general styles */

.base-color {
  color: $base-color;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  @media only screen and (min-width: 63rem) {
    max-width: 65.5rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-family: 'ralewaybold';
}
