html, body, ul, ol ,p , h1 ,h2 ,h3, h4, h5, h6{
    margin: 0;
    padding: 0;
	}

	body {
	  font-family: 'Raleway', 'Arial', sans-serif;
	  font-size: 0.8em;
	  letter-spacing: 0.1em;
	  line-height: 1.5em;
	}

ul, ol{
    list-style-type: none;
}

img{
    display: block;
}

*{
    box-sizing: border-box;
	}
